body {
    height: 100%;
    background-image: url("image/fon.jpg");
}

li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.todo {
    display: flow;
    align-content: center;
    text-align: center;

    height: auto;
}

.todo > h1 {
    color: black;
}

.todos {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.list {
    height: 39px;
    margin: 0 25% 0 25%;
    display: flex;
}

.list > input {
   height: 39px;
    margin: 0 0 0 5px;
    padding: 0;
    border: 0;
    width: 95%;
}

.list > button {
    height: 39px;
    margin: 0;
    padding: 0;
    border: 0;
}

.listFull {
    margin: 0 25% 0 25%;
}

.listFull > ul > li {
    font-size: 200%;
    display: flex;
    background-color: aquamarine;
    margin: 0 0 10px 5px;
    position: relative;
    align-content: center;
    text-align: center;
    justify-content: space-between;
}

.deleteAll {
    font-size: 200%;
    background-color: blue;
    align-content: center;
    text-align: center;
}

.doneText {
    text-decoration: line-through;
}

.closeBtn {
    width: 30px;
    background-image: url("/image/delete.png");
}

.completeBtn {
    width: 30px;
    background-image: url("/image/complete.jpg");
}

.end {
    text-decoration: line-through;
}