html {
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #6157d1 , #ba65c2);
}

.title {
    color: white;
}

li {
    list-style-type: none; /* Убираем маркеры */
    background-color: white;
    animation: 1s show ease;
}

ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.todo {
    display: flow;
    align-content: center;
    text-align: center;

    height: auto;
}

.todos {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.list {
    height: 39px;
    margin: 0 25% 0 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list > input {
   height: 39px;
    margin: 0 0 0 5px;
    width: 95%;
    padding-left: 10px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
}

.list > button {
    color: white;
    border: none;
    padding: 1.5em;
    background: url("/image/add.png") no-repeat center;
    background-size: cover;
}

.listFull {
    margin: 0 25% 0 25%;
}

.listFull > ul > li {
    font-size: 150%;
    display: flex;
    margin: 0 0 10px 5px;
    align-content: center;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
}

input:hover{
    background-color: white;
    text-decoration: blue;
}

input::placeholder {
    color: blue;
}

.deleteAll:hover {
    background-color: white;
    width: 300px;
}

.deleteCompleted:hover{
    background-color: white;
    width: 300px;
}

li:hover{
    box-shadow: inset -5px -5px 30px 5px rgba(0, 0, 0, 0.2),
                inset 5px 5px 30px 5px rgba(0, 0, 0, 0.2);
}

.deleteAll, .deleteCompleted {
    font-size: 20px;
    align-content: center;
    text-align: center;
    margin: 10px;
    background: linear-gradient(135deg, #6157d1 , #ba65c2);
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;

}

.doneText {
    text-decoration: line-through;
}

.closeBtn {
    background: url("/image/delete.png") no-repeat center;
    border: 0;
    width: 30px;
    height: 30px;
}

.completeBtn {
    background: url("/image/complete.png") no-repeat center;
    margin-right: 30px;
    border: 0;
    width: 30px;
    height: 30px;
}

.complete {
    text-decoration: line-through;
    background-color: #c3aee6;
}

.filterTodo {
    height: 40px;
    margin-left: 5px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    appearance: none;
}

.wrapperBtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.informationWrapper{
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 300px;
}

.information {
    border-radius: 5px;
    height: 30px;
    width: 300px;
    padding: 5px;
    color: white;
    align-items: center;
    font-size: 20px;
    display: flex;
    margin-top: 20px;
    animation: 1s show ease;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.informationSuccess{
    background: #00b462;
}

.informationSuccess:before{
    background: url("/image/wellDom.png") no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    content: ' ';
    margin-right: 5px;
}

.informationError{
    background: #f44336;
}

.informationError:before{
    background: url("/image/closeDom.png") no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    content: ' ';
    margin-right: 5px;
}

.informationFinish{
    background: #f2bd1d
}

.informationFinish:before{
    background: url("/image/finish.png") no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    content: ' ';
    margin-right: 5px;
}

.wrapperDiv {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border: 20px;
}

#informationUncompleted {
    width: 674px;
    align-content: center;
    text-align: center;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color : #03d3f4;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.date {
    width: 50%;
    font-style: oblique;
    font-size: 80%;
}